.App {
  padding: 2vh 15vw;
}

.search-section {
  display: flex;
  flex-direction: column;
}
.search-bar {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  margin: 1rem;
}
.checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin: 1rem;
}
